<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.virus.fluxmly">
    <!--连接网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于管理监听网络状态的变化-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于管理监听网络状态的变化-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于管理监听网络状态的变化-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--获取电话的状态,在打电话的时候暂停播放-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--target >=28 需要设置此权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

</manifest>
